:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}


input {
  margin: 5px;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.houseCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;

  padding: 20px;
  margin: 15px;
  background-color: #213547;
  border-color: #1a1a1a;
  border-radius: 10px;
  width: 300px;
}

.housePhoto{
  max-width: 100%;
  height: 200px;
  width: 500px;
  object-fit: cover;

  border-radius: 10px;
}

.row{
  flex-direction: row;
  display: flex;
  width: 400px;
}

.col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.houseCardCol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: #213547;
}

.navBarItem {
  display: inline-flex;
  margin: 20px;
  color:#f9f9f9;
  transition: .2s;
}

.right {
  margin-right: 50px;
}

.left {
  margin-left: 20px;
}

.addButton {
  background-color: #1a1a1a;
  padding: .6em;
  border-radius: 10px;
}

.houseDetailImg {
  margin: 10px;
  max-width: 25em;
  height: 300px;
  object-fit: cover;

  border-radius: 10px;
}

.defaultButton {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}









  .box {
    padding: 20;
    border-radius: 20;
  }

  .squareBox {
    width: 120;
    height: 120;

    margin: 20;
    justify-content: "center";
    text-align: "center";
    vertical-align: "middle";
    align-items: "center";

    border-radius: 20
    
  }

  .flexContainer {
    flex: 1;
    flex-direction: "column";
    justify-content: "center";
    align-items: "center";

    margin: 20
  }

  .flexRow {
    flex-direction: "row";
  }

  .navBar {

    height: 80;
  }

  .container {
    margin: 10;
    padding: 12;
  }

  .centeredContainer {
    align-items: "center"
  }

  .verticallySpaced {
    padding: 4;
    align-self: 'stretch';
  };

  .defaultButton {
    align-items: 'center';
    justify-content: 'center';
    padding: 5;
    margin: 10;
    border-radius: 30;
  }

  .plusButton {
    width: 50;
    height: 50;

    justify-content: "center";
    text-align: "center";
    vertical-align: "middle";
    align-items: "center";

    border-radius: 50
  }

  .colorButton {
    height: 40; 
    width: 40;

    border-radius: 30;

    margin: 20
  }

  .dateButton {
    border-radius: 50;
    width: 50px;
    height: 50px;
  }

  .windowedOption {
    flex-direction: "row";
    justify-content: "space-between";
    margin: 10;

    border-radius: 35;
    border-width: 1;

  }

  .priorityButton {
    flex: 1;
    align-items: "center";
    padding: 20;
    margin: 10;
    border-radius: 10
  }

  .defaultInput {
    background: "#ffffff";

    padding: 20;
    margin: 10;

    border-radius: 30;
  }

 .basicDropdown {
    border-radius: 20;
    padding: 10;
  }